@import "variables";

html{
  //font-family: "Gotham Pro", Roboto, Sans-Serif, serif;
  font-family: Roboto, Helvetica, Verdana, sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: #fff;
}
.burger.uk-navbar-toggle{
  display: none;
}
.container{
  position: relative;
  //max-width: 1000px;
  padding: 0 40px;
  margin: auto;
  &-mini{
    position: relative;
    max-width: 300px;
    margin: auto;
  }
  &-small{
    position: relative;
    max-width: 700px;
    margin: auto;
  }
}
.authorisation-form{
  text-align: center;
}
html input.uk-input, html select.uk-select{
  font-weight: 200;
}
.header{
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.logo{
  margin: 0;
  font-size: 18px;
  padding: 0;
  font-family: Gotham Pro;
  font-weight: 400;
  color: #214cc1;
  b{
    color: #214cc1;
    font-weight: inherit;
  }
  a{
    color: inherit;
    &:hover{
      text-decoration: none;
      color: inherit;
    }
  }
}

.sign-links{
  display: inline-flex;
  font-weight: 200;
}
application{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.yield{
  flex: 1;
}
.footer{
  border-top: 1px solid #f1f1f1;
  background: #f9f9f9;
  padding: 10px 0;
  .logo{
    font-size: 14px;
    font-weight: 200;
    b{
      font-weight: 300;
    }
  }
}
.copyright{
  font-size: 13px;
  font-weight: 200;
  color: #383838;
}
.global-notice, .global-alert{
  padding: 15px 0;
  padding-bottom: 0;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}
.nav{
  &__item{
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 10px;
    font-weight: 300;
    color: grey;
    transition: opacity 0.2s;
    &:hover{
      color: #1e87f0;
      opacity: .9;
      text-decoration: none;
    }
    &.account{
      font-weight: 400;
      cursor: pointer;
      color: #6d6d6d;
      &:hover{
        color: #1e87f0;
      }
      &:hover::after{
        width: 20%;
      }
      &::after{
        content: '';
        display: block;
        height: 3px;
        background: #9C27B0;
        border-radius: 15px 15px 0 0;
        position: absolute;
        width: 0%;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        transition: width 0.2s;
        will-change: width;
      }
    }
  }
}
.header__navigation{
  text-align: right;
}
.account__item{
  padding: 3px 0;
  display: block;
  text-align: center;
  font-size: 14px;
  &s{
    margin-bottom: 10px;
  }
}
.uk-button-danger.circled{
  font-weight: 300;
  text-transform: capitalize;
  font-size: 14px!important;
}
.empty{
  font-size: 14px;
  font-weight: 200;
}
.lang{
  flex: 0 0 20%;
  text-align: center;
}
.timer{
  position: fixed;
  left: 0;
  bottom: 50px;
  z-index: 9999;
  background: #2196F3;
  padding: 15px;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 6px 3px -3px rgba(0,0,0,.2);
  color: #fff;
  display: flex;
  flex-direction: column;
  &__button{
    background: #fff;
    color: #282828;
    border: 0;
    font-family: Gotham Pro;
    font-size: 13px;
    border-radius: 23px;
    padding: 6px 10px;
    margin-top: 5px;
    cursor: pointer;
  }
}
.footer-logo--wrapper .logo{
  font-family: inherit!important;
}
.plyr:-webkit-full-screen video {
  height: 100%!important;
}
.myCountdown{
  text-align: center;
  display: flex;
  justify-content: center;
  div{
    padding: 0 5px;
  }
}
.ent{
  background: #4045b5;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  .container{
    display: flex;
    justify-content: space-between;
  }
}