@font-face{
  src: font-url('GothaProBla.otf');
  font-family: 'Gotham Pro';
  font-weight: 600;
}
@font-face{
  src: font-url('GothaProBlaIta.otf');
  font-family: 'Gotham Pro';
  font-weight: 600;
  font-style: italic;
}
@font-face{
  src: font-url('GothaProBol.otf');
  font-family: 'Gotham Pro';
  font-weight: 500;
}
@font-face{
  src: font-url('GothaProBolIta.otf');
  font-family: 'Gotham Pro';
  font-weight: 500;
  font-style: italic;
}
@font-face{
  src: font-url('GothaProLig.otf');
  font-family: 'Gotham Pro';
  font-weight: 100;
}
@font-face{
  src: font-url('GothaProLigIta.otf');
  font-family: 'Gotham Pro';
  font-weight: 100;
  font-style: italic;
}
@font-face{
  src: font-url('GothaProMed.otf');
  font-family: 'Gotham Pro';
  font-weight: 300;
}
@font-face{
  src: font-url('GothaProMedIta.otf');
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: italic;
}
@font-face{
  src: font-url('GothaProReg.otf');
  font-family: 'Gotham Pro';
  font-weight: 200;
}
@font-face{
  src: font-url('GothaProIta.otf');
  font-family: 'Gotham Pro';
  font-weight: 200;
  font-style: italic;
}
@font-face{
  src: font-url('GothaProNarBol.otf');
  font-family: 'Gotham Pro Nar';
  font-weight: 400;
}
@font-face{
  src: font-url('GothaProNarMed.otf');
  font-family: 'Gotham Pro Nar';
  font-weight: 300;
  font-style: italic;
}
@font-face {
  src: font-url('Roboto-Medium.ttf');
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
}
@font-face{
  src: font-url('Roboto-Black.ttf');
  font-family: 'Roboto';
  font-weight: 600;
}
@font-face{
  src: font-url('Roboto-Bold.ttf');
  font-family: 'Roboto';
  font-weight: 500;
}
@font-face{
  src: font-url('Roboto-Regular.ttf');
  font-family: 'Roboto';
  font-weight: 300;
}
@font-face{
  src: font-url('Roboto-Light.ttf');
  font-family: 'Roboto';
  font-weight: 100;
}