@media only screen and (max-width: 1200px){
    .container{
        padding: 0 20px;
    }
}
@media only screen and (max-width: 900px){
    .courses-grid, .who-grid{
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
    .new{
        display: block!important;
    }
    .new__image--wrapper{
        box-shadow: inset 1px -5px 0px!important;
        width: 100%;
        height: 150px;
        border-radius: 0 0 46% 0!important;
    }
    .burger.uk-navbar-toggle{
        display: flex;
    }
    .header__navigation{
        display: none;
        position: absolute;
        top: 100%;
        background: #fff;
        flex-direction: column;
        width: 100%;
        left: 0;
        z-index: 123123;
        text-align: center;
        border-top: 1px solid whitesmoke;
        padding: 15px;
        box-sizing: border-box;
        box-shadow: 0 5px 9px rgba(0,0,0,.2);
    }
    .header__navigation .nav__item{
        display: block;
        padding: 10px;
        color: royalblue;
        font-size: 16px;
    }
    .header__navigation .nav__item:hover{
        color: #282828;
    }
    .burgerr{
        background: royalblue!important;
    }
    .lang{
        margin-right: 15px;
    }
    .burger{
        color: #fff!important;
    }
    .logo-wrapper{
        flex: 1;
    }
}
@media only screen and (max-width: 600px){
    .courses-grid, .who-grid{
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }
    .news-grid{
        grid-template-columns: repeat(1, minmax(100px, 1fr))!important;
    }
    .footer .uk-flex{
        flex-direction: column;
    }
    .landing-header, .course-landing__header .uk-flex{
        flex-direction: column;
    }

    .landing-course{
        flex-direction: column;
    }
    .landing-course__image{
        height: 150px;
    }
}